.button, .text-field, #lobbyLabel, #ipaddress {
    -fx-background-color: transparent;

    -fx-font-family: "Assassin$";
    -fx-font-size: 30px;
    -fx-text-fill: rgb(255,255,255);

    -fx-pref-width: 340px;
    -fx-pref-height: 50px;
}

#lobbyLabel, #nameInputField, #ipaddress, #ipInputField {
    -fx-text-fill: #d3cc89;
}

#ipaddress {
    -fx-font-size: 20px;
}

.button:hover {
    -fx-background-color: rgba(100, 100, 100, 0.4);
    -fx-font-size: 34px;
}

.button:pressed {
    -fx-background-color: rgba(100, 100, 100, 0.2);
}

#readyButton:pressed {
    -fx-text-fill: green;
}

.choice-box{
    -fx-font-family: "Assassin$";
    -fx-font-size: 18px;
    -fx-text-fill: rgb(255,255,255);
    -fx-background-color: rgba(0, 0, 0, 0.3);
    -fx-mark-color: rgb(255,255,255);
}

.choice-box .label {
    -fx-text-fill: rgb(255,255,255);
}

.choice-box .menu-item:focused {
    -fx-background-color: rgba(0, 0, 0, 0.3);
}

.choice-box .context-menu {
    -fx-background-color: rgba(100, 100, 100, 100);
}

#menuGridPane {
    -fx-background-image: url('../images/ui-images/blackBar.png');
}

#anchor {
    -fx-background-image: url('../images/ui-images/background.jpg');
}

#backButton {
    -fx-background-image: url('../images/ui-images/backButton.png');
}

#backButton:hover {
    -fx-scale-y: 1.1;
    -fx-scale-x: 1.1;
}

#idWarningLabel, #nameWarningLabel {
    -fx-text-fill: red;
    -fx-font-size: 30px;
    -fx-font-family: "Assassin$";
}