#gameplayAnchorPane {
    -fx-background-image: url('../images/ui-images/bg.jpg');
}

#cardAnchorPane {
    -fx-background-color:  rgba(0, 0, 0, 0.4);
}

#leftPane {
    -fx-border-width: 2px 2px 0 0;
    -fx-border-color: linear-gradient(to right top, #604040, #894f33, #996c0d, #849400, #11be18);
    -fx-border-radius: 0 20px 0 0;
}

#rightPane {
    -fx-border-width: 2px 0 0 2px;
    -fx-border-color: linear-gradient(to right top, #604040, #894f33, #996c0d, #849400, #11be18);
    -fx-border-radius: 20px 0 0 0;
    -fx-background-color: rgba(0, 0, 0, 0.7);
    -fx-background-radius: 20px 0 0 0;
}

/*TODO Birlestir kodlari*/

#wonder1Pane {
    -fx-background-radius: 10px;
    -fx-border-width: 2px;
    -fx-border-color: linear-gradient(to right top, #604040, #894f33, #996c0d, #849400, #11be18);
    -fx-border-radius: 10px;
}

#wonder2Pane {
    -fx-background-radius: 10px;
    -fx-border-width: 2px;
    -fx-border-color: linear-gradient(to right top, #604040, #894f33, #996c0d, #849400, #11be18);
    -fx-border-radius: 10px;
}

#wonder3Pane {
    -fx-background-radius: 10px;
    -fx-border-width: 2px;
    -fx-border-color:linear-gradient(to right top, #604040, #894f33, #996c0d, #849400, #11be18);
    -fx-border-radius: 10px;
}

#discardPile {
    -fx-background-image: url("/images/tokens/discardPile.png");
}

#heroButton {
    -fx-background-image: url("/images/tokens/hero.png");
}

#settingsButton {
    -fx-background-image: url("/images/tokens/settings.png");
}

#exitButton {
    -fx-background-image: url("/images/tokens/exit.png");
}

.button:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.button {
    -fx-background-color: transparent;
}
