#button1 {
    -fx-background-image: url('../images/hero-images/achilles_black_white.png');
    -fx-background-color: transparent;
    -fx-background-size: 150px;
}

#button2 {
    -fx-background-image: url('../images/hero-images/aristotales_black_white.png');
    -fx-background-color: transparent;
    -fx-background-size: 150px;
}

#button3 {
    -fx-background-image: url('../images/hero-images/da_vinci_black_white.png');
    -fx-background-color: transparent;
    -fx-background-size: 150px;
}

#button4 {
    -fx-background-image: url('../images/hero-images/donatello_black_white.png');
    -fx-background-color: transparent;
    -fx-background-size: 150px;
}

#button5 {
    -fx-background-image: url('../images/hero-images/hector_black_white.png');
    -fx-background-color: transparent;
    -fx-background-size: 150px;
}

#button6 {
    -fx-background-image: url('../images/hero-images/ibni_sina_black_white.png');
    -fx-background-color: transparent;
    -fx-background-size: 150px;
}

#button7 {
    -fx-background-image: url('../images/hero-images/leonidas_black_white.png');
    -fx-background-color: transparent;
    -fx-background-size: 150px;
}

#button8 {
    -fx-background-image: url('../images/hero-images/michelangelo_black_white.png');
    -fx-background-color: transparent;
    -fx-background-size: 150px;
}

#button9 {
    -fx-background-image: url('../images/hero-images/pisagor_black_white.png');
    -fx-background-color: transparent;
    -fx-background-size: 150px;
}

#button10 {
    -fx-background-image: url('../images/hero-images/spartacus_black_white.png');
    -fx-background-color: transparent;
    -fx-background-size: 150px;
}

#button11 {
    -fx-background-image: url('../images/hero-images/thales_black_white.png');
    -fx-background-color: transparent;
}

#button12 {
    -fx-background-image: url('../images/hero-images/gaudi_black_white.png');
    -fx-background-color: transparent;
    -fx-background-size: 150px;
}

.label {
    -fx-font-size: 1px;
    -fx-font-family: "Assassin$";
}