#player3{
    -fx-background-image: url('../images/ui-images/otherPlayerHangingGardens.png');
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

#player4{
    -fx-background-image: url('../images/ui-images/otherPlayerHangingGardens.png');
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

#player5{
    -fx-background-image: url('../images/ui-images/otherPlayerHangingGardens.png');
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

#player6{
    -fx-background-image: url('../images/ui-images/otherPlayerHangingGardens.png');
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

#borderPane{
    -fx-background-image: url('../images/ui-images/ageImage.png');
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}


#outerPane{
    -fx-background-color: transparent;
}

#topPane{
    /*-fx-background-color: yellow;*/

}

#closeButton{
    -fx-background-image: url('../images/ui-images/closeButton.png');
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

#playerNameLabel .text {
    -fx-fill: white;
    -fx-stroke: black;
    -fx-stroke-width: 1px;
}


#outerPane {
    -fx-border-width: 0 2px 2px 2px;
    -fx-border-color: linear-gradient(to right top, #604040, #894f33, #996c0d, #849400, #11be18);
    -fx-border-radius: 0 0 10px 10px;
    -fx-background-color:  rgba(0,0,0,0.8);
    -fx-background-radius: 0 0 10px 10px;
}

