.button {
    -fx-background-radius: 8;
    -fx-background-color: rgba(0,0,0, 0.2);
    -fx-border-color: linear-gradient(to right top, #604040, #894f33, #996c0d, #849400, #11be18);
    -fx-border-radius: 8;
    -fx-font-family: "Assassin$";
    -fx-font-size: 13px;
    -fx-text-fill: rgb(255,255,255);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );

}

.button:hover, .active {
    -fx-background-color: linear-gradient(to right top, #604040, #894f33, #996c0d, #849400, #11be18);
}

.button:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}

#readyButton {
    -fx-font-size: 18px;
}
