#anchor{
    -fx-background-image: url('../images/ui-images/bg.jpg');
}

#pane{
    -fx-background-image: url('../images/ui-images/wonderSelectBG.png');

}


#button{
        -fx-background-image: url('@../images/ui-images/shield.png');
        -fx-border-style: solid inside;
        -fx-border-color: blue;
}