#anchor{
    -fx-background-image: url('../images/ui-images/bg.jpg');
}

#pane{
    -fx-background-image: url('../images/ui-images/wonderSelectBG.png');

}


#button{
        -fx-background-image: url('@../images/ui-images/shield.png');
        -fx-border-style: solid inside;
        -fx-border-color: blue;
}

Label{
    -fx-background-color: rgba(0,0,0,0.5);
    -fx-font-color: black;
    -fx-font-family: "Assassin$";
    -fx-font-size: 30px;
    -fx-text-fill: rgb(255,255,255);
}

