#anchor{
    -fx-background-image: url('ui-images/babylonwonderbar.png');
}
#readyButton{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-text-fill: #828282;
}

#builtWonderButton{
    -fx-background-image: url('ui-images/buton.png');
    -fx-background-radius: 100;
}

#builtCardButton{
    -fx-background-image: url('ui-images/buton.png');
    -fx-background-radius: 100;
}

#discardCardButton{
    -fx-background-image: url('ui-images/buton.png');
    -fx-background-radius: 100;
}

#godPowerButton{
    -fx-background-image: url('ui-images/buton.png');
    -fx-background-radius: 100;
}